{% include "header.html" %}
    <title>Generating Dress</title>
  </head>
  <body>
    <p>We are now (very very slowly) generating your dress, {{dress_name}}, based on the code at {{ code_url }} :)</p>

    <p>Here is what is going on:</p>
    {% for row in rows %}
    <p>{{ row }}</p>
    {% endfor %}
    <p>And the dress is done (or we crashed)!
      Sadly it appears cowcow <b>rate limits</b> how often the new products show up in the listing. You may need to <b>check back tomorrow</b> to see your clothing item actually present. It's likely not lost (unless there was an error message above) and just in a queue.
    <p>
    <p>
      You can go <a href="https://www.cowcow.com/artist/holdensglitchcode?2855124&section=01&sn=Uploaded">checkout the store</a>. Your
      <a href="https://www.cowcow.com/shop//{{dress_name | urlencode }}?2855124&store=holdensglitchcodedress"> should have a name {{dress_name}}</a>.
      If you don't find your {{dress_name}} bookmark <a href="https://www.cowcow.com/artist/holdensglitchcode?2855124&section=01&sn=Uploaded&sort=2">the glitch code store</a> and check back tomorrow since sometimes cowcow rate limits our product updates.
    </p>
    <p>
      But sometimes the names get a bit messed up in which case <a href="https://www.cowcow.com/artist/holdensglitchcode?2855124&sort=2">you should be able to find your dress in this list</a>.
    </p>
    <!-- sketchy JS rdr -->
    <script>
      setTimeout(function() {
      window.location.href = "https://www.cowcow.com/artist/holdensglitchcode?2855124&section=01&sn=Uploaded";
      }, 3500000);
    </script>
{% include "footer.html" %}
