<html>
<p>We are now (very very slowly) generating your dress, {{dress_name}}, based on the code at {{ code_url }} :)</p>

<p>Here is what is going on:</p>
{% for row in rows %}
<p>{{ row }}</p>
{% endfor %}
<p>And the dress is done (or we crashed)! Go <a href="https://www.cowcow.com/artist/holdensglitchcode?2855124&sort=2">checkout the store</a>. Your
  <a href="https://www.cowcow.com/shop//{{dress_name | urlencode }}?2855124&store=holdensglitchcodedress should have a name {{dress_name}}</a>.</p>
</html>
